.bdy {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px calc(100% - 400px) 200px;
    grid-template-rows: 80px calc( 100vh - 100px ) 20px;
    grid-template-areas:
      "topbar     topbar    topbar"
      "leftbar    board     rightbar"
      "bottombar  bottombar bottombar";
    background-color: black;
  }
  
  .topbar {
    grid-area: topbar;
    background: #000;
    border-bottom: 2px solid grey;
  }

  
  .leftbar {
    grid-area: leftbar;
    background: #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-right: 2px solid grey;
    position: relative;
    z-index: 2;

  }

  
  .rightbar {
    grid-area: rightbar;
    background: #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-left: 2px solid grey;
    position: relative;
    z-index: 2;
  }
  
  .board {
    grid-area: board;
    overflow-x: auto;   /* horizontal-only scroll */
    overflow-y: auto;
    margin: 5px 5px;    

    position: relative;
    z-index: 1;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .board::-webkit-scrollbar{
    display: none;
  }
  
  .scroll-wrap {
    width: 200vw;       /* twice the viewport width */
    height: 200vh;       /* fill the board cell vertically */
    
    background-image: url("/public/pictures/darkbg.png");
    background-repeat: repeat;
    background-position: top left;
  }
  
  .bottombar {
    grid-area: bottombar;
    background: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.9rem;
  }
  